/* additional tab in config section*/

.module-version {
    color: #ea7601;
}

.avanti-info-block .module-version.last-version {
    color: green;
}

.upgrade-error {
    display: inline-block;
}

.avanti-conflicts-title,
.version-title,
.module-version {
    letter-spacing: .025em;
    font-weight: 600;
    font-size: 1.7rem;
}

.avanti-conflicts-title {
    margin: 25px 0 10px;
}

.avanti-module-version div:first-child {
    margin-bottom: 10px;
}

.avanti-info-block span.message {
    display: inline-block;
}

.avanti-info-block .message.success {
    background-color: #e9fbdb;
}

a[id*='avanti_information'] {
    display: none !important;
}

.avanti-module-version .avanti-logo {
    position: relative;
    bottom: -9px;
    display: inline-block;
    max-height: 26px;
}

tr[id*='avanti_not_instaled'] .value {
    color: #f70606;
}

tr[id*='avanti_is_instaled'] .value {
    color: #0a820b;
}

.avantibase-unsubscribe .message-success:before {
    display: none;
}

.avantibase-unsubscribe img {
    margin-right: 10px;
    max-width: 20px;
}

.avantibase-unsubscribe .message-success {
    padding: 1.8rem 4rem 1.8rem 2rem;
}

.avantibase-unsubscribe .message-success span {
    vertical-align: top;
}

.accordion .config td.value.with-tooltip {
    font-size: inherit;
}

.accordion .config .value.with-tooltip div.tooltip {
    margin-top: 10px;
}

.accordion .config .value.with-tooltip div.tooltip .tooltip-content {
    max-width: 400px;
    width: 400px;
}

.value.with-tooltip .select,
.value.with-tooltip .admin__control-table {
    float: left;
}

.accordion .form-inline .config .value {
    padding-right: 4rem;
}

.avantibase-search-container .avantibase-title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.avantibase-search-container .avantibase-wrapper {
    display: flex;
    align-items: flex-end;
    width: calc(((100% + 40px) * .77) - 40px - 15px); /*calc width by field label and input width*/
}

.avantibase-search-container .avantibase-input {
    flex: auto;
    margin-top: 25px;
    border: 1px solid #c2c2c2;
    border-right: 0;
}

.avantibase-search-container .avantibase-button {
    margin: 0;
    padding: 6px 50px;
    border: 1px solid #1787e0;
    background: #1787e0;
    color: #fff;
}
