.config-nav-block.avanti-tab strong:before {
    background: url(../images/logo.svg) no-repeat;
    width: 26px;
    height: 16px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

.admin__menu [data-ui-id^="menu-magento-"] [data-ui-id^="menu-magento-"] [data-ui-id^="menu-avanti-"] span:before {
    background: url(../images/logo-menu.svg) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

#avanti_base_extensions table td.value,
#avanti_base_information table td.value {
    vertical-align: bottom;
}

.avantibase-grid-message {
    padding-left: 58px;
    min-height: 53px;
    background: url(../images/logo_popup.svg) no-repeat;
}

.avantibase-grid-message.avanti-grid-logo {
    background: url(../images/logo_popup.svg) no-repeat;
}

.admin__action-dropdown-menu .notifications-entry:not(.notifications-entry-last) {
    padding-left: 37px;
    background: url(../images/logo_popup.svg) no-repeat 5px 7px;
}

.admin__action-dropdown-menu .notifications-entry[data-avantibase-logo="1"] {
    background: url(../images/logo_popup.svg) no-repeat 5px 7px;
}

/* main avanti menu start*/
#menu-menuavanti-base-menu .submenu .level-0 > a:before,
#menu-menuavanti-base-menu .level-0:first-child > a:after {
    content: '';
    display: none;
}

#menu-menuavanti-base-menu .submenu .level-0 > a {
    display: block;
    width: 99%;
    min-height: 0;
    margin: .7rem 0;
    padding: 1.25rem 1rem 1.25rem 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: left;
    color: #a79d95;
    text-transform: none;
}

#menu-menuavanti-base-menu .submenu .level-0 > a:hover {
    background-color: #524d49;
}

#menu-menuavanti-base-menu .submenu .column .parent {
    margin-bottom: 0;
}

#menu-menuavanti-base-menu .submenu .parent {
    margin-bottom: 0.5rem;
}

#menu-menuavanti-base-menu .item-container .submenu {
    transform: none;
    opacity: 1;
    transition-property: opacity;
}

#menu-menuavanti-base-menu .item-container._show .submenu {
    opacity: 1;
}

#menu-menuavanti-base-menu > a:before {
    content: '';
    background: url(../images/logo-menu.svg) no-repeat 5px 7px;
    background-size: contain;
    background-position: center;
}

#menu-menuavanti-base-menu > a:hover:before,
#menu-menuavanti-base-menu._show > a:before {
    background: url(../images/logo.svg) no-repeat 5px 7px;
    background-size: contain;
    background-position: center;
}

.admin__menu .level-0 > .submenu .submenu {
    min-height: 100%;
    width: 300px;
}

.admin__menu .submenu .submenu .submenu-title {
    height: 60px;
}
/* main avanti menu end*/