<?php
/**
 * @author Avanti Team
 * @copyright Copyright (c) 2019 Avanti (https://www.avanti.com)
 * @package Avanti_Base
 */
?>
<?php
/** @var \Avanti\Base\Block\Adminhtml\Extensions $block */
$modules = $block->getModuleList();
$anchor = $block->isOriginMarketplace() ? '#product.info.details.release_notes' : '#changelog';
?>
<div class="avantibase-updates-block">
    <h2 class="avantibase-title">
        <?= $block->escapeHtml(__('Installed Extensions')) ?>
    </h2>
    <div class="avantibase-updates-container">
        <div class="avantibase-modules-block">
            <?php foreach ($modules['hasUpdate'] as $module): ?>
            <div class="avantibase-module-container -update">
                <div class="avantibase-title-container">
                    <?php if (!empty($module['url'])): ?>
                    <a href="<?= $block->escapeUrl($module['url'] . $block->getSeoparams()) ?>"
                       class="avantibase-title -link"
                       target="_blank"
                       title="<?= $block->escapeHtml($module['description']) ?>">
                        <?= $block->escapeHtml($module['description']) ?>
                    </a>
                    <?php else: ?>
                    <h3 class="avantibase-title">
                        <?= $block->escapeHtml($module['description']) ?>
                    </h3>
                    <?php endif ?>
                </div>
                <div class="avantibase-version-block">
                    <div class="avantibase-version-container">
                        <p class="avantibase-version">
                            <?= $block->escapeHtml($module['version']) ?>
                        </p>
                        <span class="avantibase-svg -arrow"></span>
                        <p class="avantibase-version">
                            <?= $block->escapeHtml($module['lastVersion']) ?>
                        </p>
                    </div>
                    <?php if (!empty($module['url'])): ?>
                    <a href="<?= $block->escapeUrl($module['url'] . $block->getSeoparams() . $anchor) ?>"
                       class="avantibase-link"
                       target="_blank"
                       title="<?= $block->escapeHtml(__('See what\'s new')) ?>">
                        <?= $block->escapeHtml(__('See what\'s new')) ?>
                    </a>
                    <?php endif ?>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<div class="avantibase-updates-block">
    <h2 class="avantibase-title -small">
        <?= $block->escapeHtml(__('Up-to-Date Avanti Extensions')) ?>
    </h2>
    <div class="avantibase-modules-block">
        <?php foreach ($modules['lastVersion'] as $module): ?>
            <?php if (!empty($module['url'])): ?>
            <a href="<?= $block->escapeUrl($module['url'] . $block->getSeoparams()) ?>"
               class="avantibase-module-container -link"
               target="_blank"
               title="<?= $block->escapeHtml($module['description']) ?>">
                <span class="avantibase-title">
                    <?= $block->escapeHtml($module['description']) ?>
                </span>
                <span class="avantibase-version-block">
                    <span class="avantibase-version-container">
                        <span class="avantibase-svg"></span>
                        <span class="avantibase-version"><?= $block->escapeHtml($module['version']) ?></span>
                    </span>
                    <?php if (!empty($module['date'])): ?>
                    <span class="avantibase-date"><?= $block->escapeHtml($module['date']) ?></span>
                    <?php endif; ?>
                </span>
            </a>
            <?php else: ?>
            <div class="avantibase-module-container">
                <div class="avantibase-title-container">
                    <h3 class="avantibase-title">
                        <?= $block->escapeHtml($module['description']) ?>
                    </h3>
                </div>
                <div class="avantibase-version-block">
                    <div class="avantibase-version-container">
                        <span class="avantibase-svg"></span>
                        <p class="avantibase-version">
                            <?= $block->escapeHtml($module['version']) ?>
                        </p>
                    </div>
                    <?php if (!empty($module['date'])): ?>
                        <p class="avantibase-date">
                            <?= $block->escapeHtml($module['date']) ?>
                        </p>
                    <?php endif; ?>
                </div>
            </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
